:host {
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: space-evenly;
  grid-template-areas:
    'svg svg svg'
    '. button .';
  grid-template-columns: 40% auto 40%;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;

  svg-icon {
    grid-area: svg;
    width: 50%;
    box-shadow: 0px 85px 90px 20px rgb(0 0 0 / 30%);
    backdrop-filter: blur(1px);
  }

  button {
    grid-area: button;
  }
}
