:host {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: space-evenly;
  height: 100vh;

  svg-icon {
    width: 50%;
    box-shadow: 0px 85px 90px 20px rgb(0 0 0 / 30%);
    backdrop-filter: blur(1px);
  }
}
