:host {
  position: absolute;
  display: grid;
  align-content: space-evenly;
  justify-items: center;
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw, 1vw) * 100);

  img {
    width: 80%;
  }
}
