:host {
  position: absolute;
  display: grid;
  align-content: space-evenly;
  justify-items: center;
  grid-template-areas:
    'img img img'
    '. button .';
  grid-template-columns: 40% auto 40%;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;

  img {
    grid-area: img;
    width: 100%;
  }

  button {
    grid-area: button;
  }
}
