:host {
  position: absolute;
  display: grid;
  align-content: space-evenly;
  justify-items: center;
  grid-template-areas:
    'img img img'
    '. actions .';
  grid-template-columns: calc(var(--vw, 1vw) * 25) auto calc(
      var(--vw, 1vw) * 25
    );
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;

  img {
    grid-area: img;
    width: 90%;
  }

  .actions {
    display: grid;
    justify-items: center;
    grid-area: actions;
    width: 100%;

    p {
      margin: 0.5rem;
      font-size: 1.2rem;
      color: var(--hgw-color-soft);
    }
  }
}
