$midnight-blue: #00295c;
$green-hill: #00e062;
$azure-radiance: #0091ff;
$link-water: #f7f9fd;
$bright-green: #6dd400;
$light-green: #047d65;
$bali-hai: #7b90aa;
$mine-shaft: #262626;
$spindle: #b0bac9;
$persian-red: #d02c2c;
$pure-orange-transparent: #6e4747;
$alice-blue: #d0e4f6;
$nobel-100: #ccc;
$nobel-500: #b8b7b7;
$nobel-900: #979797;
$white-smoke: #f7f7f7;
$jelly-bean: #75438a;
$wakes-blue: #d7dce4;
$sandrift: #7f94ad;
$whisper: #eee;
$rock-blue: #9ca5b3;
$dodger-blue: #0091ff;
$athens-gray-light: #f2f2f2;
$athens-gray: #d6d7da;
$athens-gray-dark: #949697;
$blaze-orange: #f60;
$midnight: #24303e;
$heather: #c0cad7;
$blue100: #3293fa;
$blue500: #1e8afd;
$blue900: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red100: #fd4a5c;
$red500: #ff293e;
$red900: #ff0019;
$orange: #fd7e14;
$yellow: #facb40;
$green100: #29b449;
$green500: #15aa38;
$green900: #06af2e;
$teal: #20c997;
$cyan100: #52bdce;
$cyan500: #17a2b8;
$cyan900: #058497;
$white: #fff;
$black: #000;
$black-light: #24292f;
$gray: #9fa2a3;
$gray100: #d0d3d3;
$gray500: #818486;
$gray900: #5f6266;

$light: $gray100;
$white: $white;
$black: $black;
$black-light: $black-light;
$disabled-light: $nobel-100;
$disabled: $nobel-500;
$disabled-dark: $nobel-900;
