.router-wrapper {
  position: relative;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  perspective: 1200px;
  transform-style: preserve-3d;
  backface-visibility: 'hidden';

  .app-version {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--hgw-color-soft);
    font-size: 0.8rem;
  }
}
