:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(var(--vh, 1vh) * 100);
  grid-template-areas:
    'header'
    'body'
    'footer';

  .header {
    grid-area: header;
  }

  .body {
    overflow: auto;
    display: grid;
    justify-items: center;
    grid-area: body;
    grid-template-columns: repeat(auto-fit, minmax(var(--hgw-card-size), auto));
    grid-gap: 1rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .footer {
    grid-area: footer;
  }
}
