@use './styles/index' as *;

* {
  font-family: var(--hgw-font-family);
}

body {
  overflow: hidden;
  margin: var(--hgw-inner-margin);
  background-image: url(https://wallpaperaccess.com/full/5854652.jpg);
}
