@use './styles/index' as *;

* {
  font-family: var(--hgw-font-family);
}

body {
  overflow: hidden;
  margin: var(--hgw-inner-margin);
  background: linear-gradient(
      180deg,
      var(--hgw-background-secondary) 0%,
      var(--hgw-background-primary) 100%
    )
    fixed;
}
